include ../../../components/SectoralNozzleCard.component.pug

mixin SectionSectoralNozzles
	section(class="py-24")
		div(class="container")
			div(class="flex flex-col")
				div(class="grid grid-cols-1 items-center gap-4 px-4 sm:px-0 md:grid-cols-2")
					div(class="flex flex-col gap-2")
						h3(class="font-semibold text-cetek-600") Ce-Tek Spray Nozzle
						h2(class="text-4xl") Sektörel
							| &nbsp;
							strong Nozullar
					p Nozzle, hava tarakları, edüktör, yedek parça ve quick coupling gibi bir çok parça tedariği sağlanmaktadır.

				div(class="sm:-mx-4")
					div(id="PageHomeSectoralNozzlesSlider", class="keen-slider")
						each sectoralNozzle in sectoralNozzles
							div(class="keen-slider__slide px-4 py-8 flex flex-col")
								+SectoralNozzleCard(sectoralNozzle)
