extends ../../layouts/Default.layout.pug

include ./components/Hero.component.pug
include ./components/Services.component.pug

block prepend head
	- PageProps.title = homeSettings.meta_title
	- PageProps.metaDescription = homeSettings.meta_description
	- PageProps.metaKeywords = homeSettings.meta_keywords

block body
	+SectionHero
	+SectionServices

	br
	br
	br
	br
	br
	br
	br

	.container
		h1 Welcome to #{title}
		p Welcome #{t("home.title")}
		p lang = #{language}
		p It's a translation article application

		a(href='?lng=en') English <br>
		a(href='?lng=tr') Türkçe

		code= language

block append scripts
	script.
		document.addEventListener("DOMContentLoaded", () => {
			const PageHomeHeroSlider = new KeenSlider(
				"#PageHomeHeroSlider",
				{
					loop: true,
					slides: {
						perView: 1,
					},
				},
			);

			const $PageHomeHeroSliderPrevButton = document.getElementById("PageHomeHeroSliderPrevButton");
			const $PageHomeHeroSliderNextButton = document.getElementById("PageHomeHeroSliderNextButton");

			$PageHomeHeroSliderPrevButton.addEventListener("click", () => PageHomeHeroSlider.prev());
			$PageHomeHeroSliderNextButton.addEventListener("click", () => PageHomeHeroSlider.next());
		});
