extends ../../layouts/Default.layout.pug

block prepend head
	- PageProps.title = homeSettings.meta_title
	- PageProps.metaDescription = homeSettings.meta_description
	- PageProps.metaKeywords = homeSettings.meta_keywords

block body
	.container
		code= JSON.stringify(productCategories)
